.stopwatch {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px
}

.buttons {
	display: flex;
	flex-direction: row;
	gap: 30px;
}

.timer {
	width: 	430px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 6px solid #77A8E1FF;
	background-color: #77A8E128;
	border-radius: 12px;
	font-family: "Inter", sans-serif;
	font-size: 60px;
	font-weight: 600;
}
